:root {
  --color-light: #cdcdcd;
}

.btn {
  @apply p-1 uppercase border-accent rounded-lg bg-accent transition-colors duration-600 border-accent border-b-4
  hover:bg-primary focus:br-primary focus:outline-none active:outline-none active:border-0;
}
